<!-- about.page.html -->

<ion-header translucent>
    <ion-toolbar>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Nossa História</ion-card-subtitle>
              <ion-card-title>Um Breve Resumo</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                As devastadoras inundações que assolaram o Rio Grande do Sul em maio de 2024 serviram como um lembrete cruel da importância da preparação e do apoio da comunidade em situações de desastre. Inspirados por essa tragédia, surgiu o "Where to Go?" Um aplicativo móvel inovador para auxiliar a população durante eventos climáticos extremos.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Nosso Aplicativo</ion-card-subtitle>
              <ion-card-title>No nosso aplicativo:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                Nosso aplicativo fornece um mapa abrangente e atualizado em tempo real, com informações críticas para auxiliar a população durante um desastre natural:
                <br>
                <br><b>Abrigos:</b> Localize rapidamente abrigos seguros para você e sua família, incluindo opções específicas para mulheres e animais de estimação.
                <br><b>Água potável:</b> Acesse pontos de distribuição de água potável para garantir hidratação segura.
                <br><b>Doações:</b> Encontre locais para doar ou receber doações, facilitando a mobilização da comunidade em momentos de necessidade.
                <br>
                <br><u><b>Informações Oficiais:</b> Mantenha-se atualizado com alertas e comunicados oficiais dos órgãos responsáveis, garantindo que você tenha acesso às informações mais recentes e confiáveis.</u>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Nosso Time</ion-card-subtitle>
              <ion-card-title>Conheça a Equipe</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>
                <br>Arthur Alves Ribas - Desenvolvedor
                <br>João Vitor De For - Desenvolvedor
                <br>Pedro Gabriel Cadore - Desenvolvedor
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>