<header>
  <a href="#" class="logo"><img src="../../assets/WTGLogo.png" alt="icone" class="icone"></a>
  <ul class="navbar">
      <li><a href="#" class="nav__link">Home</a></li>
      <li><a [routerLink]="['/sobre']" class="nav__link">Sobre</a></li>
      <li><a href="#" class="nav__link">Contatos</a></li>
      <li><a href="#"><button id="btn-dark-mode-toggle"></button></a></li>
  </ul>
  <div class="main">
      <a href="#" class="user"><i class="ri-user-line"></i>Login</a>
      <a href="#">Register</a>
      <div class="bx bx-menu" id="menu-icon">
      </div>
  </div>
</header>